@keyframes slid {
    from { 
        transform: translateY(-50vw);
    }
    to { 
        transform: translateX(0);
    }
}

@keyframes slid-linha {
    from { 
        transform: translateX(-50vh);
    }
    to { 
        transform: translateX(0);
    }
}

#img-bg{
    background-image: url('https://images.hdqwalls.com/download/cameraman-silhouette-rl-1280x720.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    background-color: #fcfcfc;
    width: 100vw;
    height: 100vh;
}

.quadro{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border: 2px solid #e7e7e7;
}

::placeholder{
    color: rgb(194, 194, 194);
}

.titulo{
    animation: slid 2s;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 50px;
}

.texto{
    animation: slid 2s;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

hr{
    animation: slid-linha 2s;
    text-align: left;
    width: 200px;
    background-color: white;
}

button{
    width: 50%;
}