#img-bg{
    background-image: url('https://images.hdqwalls.com/download/alone-boy-sitting-silhouette-manipulation-4k-y1-1280x1024.jpg');
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}