#img-bg{
    background-image: url('https://images.hdqwalls.com/download/ninja-hoodie-boy-4k-be-1280x720.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control{
    border-radius: 10px;
}

.quadro{
    border: 1px solid rgb(212, 212, 212);
    border-radius: 25px;
    padding: 40px;
}