@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-100vh);
    }
}
.animacao{
    background: linear-gradient(0, #131402, #000000);
}

.stars{
    position: relative;
	width: 4px;
	height: 4px;
	border-radius: 50%;
    box-shadow: 50px 30px rgb(255, 255, 255),
    250px 450px rgb(255, 255, 255),
    80px 820px rgb(255, 255, 255),
    300px 450px rgb(255, 255, 255),
    250px 560px rgb(255, 255, 255),
    200px 630px rgb(255, 255, 255),
    150px 450px rgb(255, 255, 255),
    600px 770px rgb(255, 255, 255),
    800px 120px rgb(255, 255, 255),
    830px 930px rgb(255, 255, 255),
    350px 140px rgb(255, 255, 255),
    950px 870px rgb(255, 255, 255),
    800px 540px rgb(255, 255, 255),
    700px 900px rgb(255, 255, 255);
    animation: anim-stars 50s linear infinite;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    box-shadow: 90pc 500px rgb(255, 255, 255),
    650px 500px rgb(255, 255, 255),
    800px 900px rgb(255, 255, 255),
    300px 842px rgb(255, 255, 255),
    350px 130px rgb(255, 255, 255),
    500px 50px rgb(255, 255, 255),
    800px 800px rgb(255, 255, 255),
    400px 700px rgb(255, 255, 255),
    750px 500px rgb(255, 255, 255),
    950px 346px rgb(255, 255, 255),
    500px 300px rgb(255, 255, 255);
}

.stars2{
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 15px 15px white,
    160px 870px rgb(255, 255, 255),
    360px 120px rgb(255, 255, 255),
    430px 450px rgb(255, 255, 255),
    250px 500px rgb(255, 255, 255),
    950px 800px rgb(255, 255, 255),
    150px 600px rgb(255, 255, 255),
    400px 700px rgb(255, 255, 255),
    750px 95px rgb(255, 255, 255),
    840px 900px rgb(255, 255, 255),
    500px 95px rgb(255, 255, 255);
    animation: anim-stars 100s linear infinite;
}

.stars2::after{
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 15px 15px rgb(255, 255, 255),
    150px 888px rgb(255, 255, 255),
    650px 685px rgb(255, 255, 255),
    700px 120px rgb(255, 255, 255),
    750px 789px rgb(255, 255, 255),
    800px 940px rgb(255, 255, 255),
    850px 700px rgb(255, 255, 255),
    900px 130px rgb(255, 255, 255),
    950px 540px rgb(255, 255, 255),
    999px 900px rgb(255, 255, 255);
}

.container-fluid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-bg{
    background-image: url('https://images.hdqwalls.com/wallpapers/blury-abstract-4k-fo.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control{
    border-radius: 10px;
}

button{
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
}

.quadro{
    background-color: rgba(0, 0, 0);
    border-radius: 25px;
    padding: 40px;
}

a{
    color: #a88008;
}

