@keyframes slid {
    from { 
        transform: translateY(-50vh);
    }
    to { 
        transform: translateX(0);
    }
}

@keyframes slid-linha {
    from { 
        transform: translateX(-40vw);
    }
    to { 
        transform: translateX(0);
    }
}

#img-bg{
    background-image: url('https://images.hdqwalls.com/wallpapers/concert-show-crowd-peoples-music-party-5k-vo.jpg');
    min-height: 100vh;
    background-position: right;
    background-size: cover;
    
}

button{
    width: 100%;
    margin-top: 15px;
    border-radius: 25px;
}

.background{
    background-color: #fcfcfc;
    width: 100vw;
    height: 100vh;
}

.box{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border: 2px solid #e7e7e7;
}

.form-control:focus{
    border-color: rgb(218, 142, 29);
    box-shadow: 0 0 2px rgb(218, 142, 29);
}


a{
    color: rgb(218, 142, 29);
}

hr{
    animation: slid-linha 2s;
    text-align: left;
    width: 200px;
    background-color: white;
}


.titulo{
    animation: slid 2s;
    color: rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 55px;
}

.texto{
    animation: slid 2s;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
}


